@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

@font-face {
	font-family: 'CODE Light';
	src: url('../../Assets/Fonts/CODE\ Light.otf');
}

@font-face {
	font-family: 'CODE Bold';
	src: url('../../Assets/Fonts/CODE\ Bold.otf');
}

$main-menu-width: 150px;

$font-Roboto: 'Roboto';
$font-Code-light: 'CODE Light';
$font-Code-bold: 'CODE Bold';

$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-big: 18px;
$font-size-bigger: 24px;

$font-weight-regular: 400;
$font-weight-thin: 100;
$font-weight-bold: 700;
$font-weight-big: 900;

$white: #fff;
$black: #000;
$pink: #e91e63;
$maastricht-blue: #041E32;
$baby-powder: #FEFCFD;
$dark-sky-blue: #96BDC6;
$lavander-gray: #C9C7C8;
$bright-navy-blue: #107ACC;