$main-menu-height: 50px;
$side-menu-width: 100px;

$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-big: 16px;
$font-size-bigger: 18px;

$font-weight-regular: 400;
$font-weight-thin: 100;
$font-weight-bold: 700;
$font-weight-big: 900;

$white: #fff;
$black: #000;
$blue-gray: #607d8b;
$deep-orange: #ff5722;
$pink: #e91e63;