@import '../../../Styles/Default/variables';

.sv-MainMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: $main-menu-width;
	height: 100vh;
	z-index: 3;

	&-logo {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-width: $main-menu-width;
		height: auto;
		min-height: 50px;
		max-height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		z-index: 3;
		padding: 0 0 0 20px;

		&-text {
			width: 50%;
			height: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;

			&-fl,
			&-sl {
				font-size: $font-size-bigger;
				// font-family: $font-Code-bold;
			}

			&-sl {
				// font-family: $font-Code-bold;
				color: $pink;
			}
		}
	}

	&-nav {
		width: $main-menu-width;
		height: 100vh;
	}
}