@import '../../../Styles/Default/variables';

.sv-SideMenu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: $side-menu-width;
	background: transparent;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&-menuItem {
		width: 100%;
		height: 30px;
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0 0 0 20px;
		margin: 20px 0;

		>span {
			font-size: $font-size-bigger + 2px;
			font-weight: $font-weight-bold;
			opacity: 0.5;
		}
	}
}