@import '../../../Styles/Default/variables';

.sv-Homepage {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	&-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		min-width: 70vw;
		width: 70vw;
		min-height: 80vh;
		height: 80vh;
		position: relative;
		// box-shadow: 0 0 0 100vh rgba($color: #000000, $alpha: 0.3);

		&-left {
			display: flex;
			width: calc(100vw / 2 - 15vw - 5vw);
			height: 100%;
			justify-content: flex-end;
			align-items: center;
			position: relative;

			&-image {
				height: 100%;
				position: absolute;
				top: 0;
				animation: leftSideAnimation .5s linear;
			}
		}

		&-right {
			width: calc(100vw / 2 - 15vw + 5vw);
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			position: relative;

			&-image {
				height: 100%;
				position: absolute;
				bottom: 0;
				animation: rightSideAnimation .5s linear;
			}
		}
	}
}

@keyframes leftSideAnimation {
	0% {
		top: 100px;
		opacity: 0;
	}

	25% {
		top: 75px;
		opacity: 0.25;
	}

	50% {
		top: 50px;
		opacity: 0.5;
	}

	75% {
		top: 25px;
		opacity: 0.75;
	}

	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes rightSideAnimation {
	0% {
		bottom: 100px;
		opacity: 0;
	}

	25% {
		bottom: 75px;
		opacity: 0.25;
	}

	50% {
		bottom: 50px;
		opacity: 0.5;
	}

	75% {
		bottom: 25px;
		opacity: 0.75;
	}

	100% {
		bottom: 0;
		opacity: 1;
	}
}